################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpContestProject.Core/DesignTimeBuild/.dtbcache.v2
/.vs/CSharpContestProject.Core/v16/.suo
/CSharpConstestProjet.00Exemple/obj/Debug/netstandard2.0
/CSharpConstestProjet.00Exemple/obj
/CSharpContestProject.Core/bin/Debug/netcoreapp3.1
/CSharpContestProject.Core/obj
/CSharpConstestProjet.00Exemple/bin/Debug/netstandard2.0
